output.txt 
node_modules 
dist 
.mastra 
.env.development 
.env 
*.db 
*.db-* 
auth.json
token.json
credentials.json
*.log
# src
test.html
test_receipt_html.html
test_receipt_image.png
test_receipt_pdf.pdf